In [1]:
import pandas as pd 
import numpy as np

In [2]:
logs = pd.read_csv('logs/lightning_logs/version_3/metrics.csv')

In [3]:
logs.head()

     lr-SGD  step  train_loss  epoch  val_loss  val_acc  test_loss  test_acc
0  0.004050    49         NaN    NaN       NaN      NaN        NaN       NaN
1       NaN    49    5.193530    0.0       NaN      NaN        NaN       NaN
2  0.004204    99         NaN    NaN       NaN      NaN        NaN       NaN
3       NaN    99    2.059679    0.0       NaN      NaN        NaN       NaN
4  0.004461   149         NaN    NaN       NaN      NaN        NaN       NaN

In [7]:
logs[logs['epoch'] == 0.0].head()

   lr-SGD  step  train_loss  epoch  val_loss  val_acc  test_loss  test_acc
1     NaN    49    5.193530    0.0       NaN      NaN        NaN       NaN
3     NaN    99    2.059679    0.0       NaN      NaN        NaN       NaN
5     NaN   149    4.342177    0.0       NaN      NaN        NaN       NaN
7     NaN   199    2.057610    0.0       NaN      NaN        NaN       NaN
9     NaN   249    2.586865    0.0       NaN      NaN        NaN       NaN